# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

구슬탈출2/\.vs/

구슬탈출2/구슬탈출2/구슬탈출2\.vcxproj\.user

구슬탈출2/구슬탈출2/구슬탈출2\.vcxproj\.filters

구슬탈출2/구슬탈출2/구슬탈출2\.vcxproj

구슬탈출2/구슬탈출2\.sln

구슬탈출2/Debug/

구슬탈출2/구슬탈출2/Debug/

균형점/\.vs/

최대 상금/\.vs/

공통조상/\.vs/

공통조상/Debug/

공통조상/공통조상/Debug/

2048/\.vs/



2048/x64/

2048/2048/x64/
